body {
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

small {
  color: hsl(246, 25%, 77%);
  font-size: 0.6rem;
  font-weight: 400;
  word-spacing: 1px;
}

span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.icon-error{
  position: absolute;
  right: 20px;
  top: 27px;


}
.error-msg{
  display: block;
  color: hsl(0, 100%, 74%);
  opacity: 0.8;
  text-align: right !important;
  padding: 5px;
  font-weight: 500;
}

.placeholder-red::placeholder{
  color: hsl(0, 100%, 74%);;
  opacity: 0.8 !important;
}
/* Container */
.grid-container {
  display: grid;
  height: 60%;
  grid-template-columns: 600px 600px;
  grid-template-areas: "description form";
  align-content: center;
  justify-content: center;
  padding: 150px 150px 50px;
}

/* Description */
.description {
  position: relative;
  top: 60px;
  text-align: left;
  justify-self: center;
  grid-area: description;
  padding: 50px 0 50px 70px;
}

.big-header {
  font-weight: 700;
  font-size: 2.5rem;
}

.summary {
  font-size: 0.9rem;
}

/* Price */
.price {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 20px 0;
  margin-bottom: 20px;
  word-spacing: 1px;
}

.price-highlight {
  font-weight: 400;
  color: hsl(0, 0%, 90%);
}

/* Form */
.form-container {
  grid-area: form;
  text-align: center;
  justify-self: center;
  width: 75%;
}

.register {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.form-group {
  position: relative;
  width: 100%%;
}

.form-group input, .form-group button {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1.5px solid hsl(246, 25%, 95%);
  height: 47px;
  width: 100%;
  margin-top: 15px;
  padding: 1px 7px 2px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: black;
  opacity: 0.8;
}

.form-group input:focus{
  border: 2px solid hsl(246, 25%, 75%);
  outline: none;

}

input.invalid{
  border: 2px solid hsl(0, 50%, 74%);
  outline: none;
}

input.invalid::placeholder{
  opacity: 0;
}

.submit-button {
  background-color: hsl(154, 59%, 51%);
  color: #fff !important;
  font-size: 0.8rem;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
  padding: 0 !important;
  padding-top: 1.5px !important;
  padding-bottom: 1.5px !important;
}

.submit-button:hover{
  background-color: hsl(154, 59%, 60%);
  cursor: pointer;
}


/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1070px) {
  .grid-container {
    grid-template-columns: 500px 500px;
  }
}

@media only screen and (max-width: 970px) {
  .grid-container {
    grid-template-columns: none;
    grid-template-areas: 'description''form';
  }

  .form-container {
    position: static;
    justify-self: center;
  }

  .description {
    position: static;
    text-align: center;
    padding: 0;
    padding-bottom: 50px;
  }

  .price {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {

  body{
    background-image: url("images/bg-intro-mobile.png");
  }
  small {
    padding: 10px;
  }

  .grid-container {
    padding: 10% 10% 5%;
  }

  .big-header {
    font-size: 1.5rem;
  }

  .price {
    padding: 20px 50px;
  }

  .form-container {
    width: 100%;
  }
}
